.wrapper {
  margin: 80px auto;
  width: 60vh;
  background-color: #a1f19a;
  padding: 30px;
  border-radius: 10px;
}

.quiz-top {
  display: flex;
  justify-content: space-between;

  h3{
    width: 80%;
  }

  .count {
    display: block;
    width: 15%;
  }
}

.quiz {
  margin-bottom: 30px;
}


mat-radio-button {
  margin-left: 50px;
}
